@{
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="StyleSheet.css" type="text/css">
        <title>Kvotekalkulator</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Project name</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-md-12">
                    <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fringilla mollis est, at pharetra nibh aliquet pellentesque. Phasellus ut nulla libero. Donec at sem viverra, interdum mauris in, fermentum sapien. Cras feugiat posuere lectus consectetur ultrices. Aliquam id nibh volutpat, volutpat elit vitae, sagittis sem. Sed ac ultricies ipsum. Curabitur vel placerat dolor, non pretium velit. Sed at ex sed lacus placerat ornare in at dui. Morbi at lobortis neque. Ut nec mollis risus, vel pellentesque mauris. Curabitur elementum blandit est eu pellentesque. Morbi sed metus a sapien feugiat posuere eu at ante. Fusce eu erat ut sapien condimentum vulputate et non enim. Maecenas nec mi ante. Ut efficitur vel felis at sagittis. Ut placerat finibus facilisis.
                    </p>
                    <p>
Suspendisse at sapien porta, hendrerit orci a, fringilla quam. Nullam mattis condimentum sem eget rutrum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec ac risus at odio consectetur tempor eu vel magna. Nullam bibendum, arcu ut luctus dictum, nisl ipsum volutpat sapien, vel blandit felis purus sit amet augue. Suspendisse ut iaculis erat, eu iaculis dolor. Maecenas dolor eros, placerat eget nibh eget, imperdiet molestie lorem. Suspendisse potenti. Ut odio turpis, congue quis pellentesque non, cursus a magna. Duis dui urna, sollicitudin nec placerat ac, malesuada nec ipsum. Sed iaculis tortor erat, eget euismod massa tempus ac. Cras in nibh interdum, aliquam urna molestie, lacinia metus. Nam varius ipsum id libero fermentum, eu lobortis ante tristique. In nec dolor vitae quam aliquam consectetur eu ac magna. Etiam vel pulvinar lorem. Integer vitae est et est dictum suscipit a ac nisi.
                    </p>
                    <p>
Vivamus dapibus, velit vitae accumsan hendrerit, erat leo facilisis nibh, ut mattis mi elit vitae magna. Morbi nec diam felis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer risus libero, gravida ut ultricies id, euismod et libero. Nulla vitae justo sagittis ipsum congue ultrices eu id dui. Curabitur odio nibh, pharetra in mi id, semper accumsan urna. Nunc vel blandit mauris, vel pretium orci. Maecenas malesuada est quis ornare efficitur. Praesent hendrerit turpis non luctus efficitur. Sed tincidunt arcu et sapien posuere, nec ultrices purus commodo. Donec orci massa, imperdiet scelerisque vehicula ut, vulputate nec justo. Donec ut nunc erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus tempor eros vitae quam ultricies condimentum. Vivamus tincidunt sem sit amet enim molestie, id eleifend odio laoreet. In auctor commodo libero, a iaculis quam consequat vel.
                    </p>
                    <p>
Mauris efficitur nulla ut mi venenatis, at ornare nunc mollis. Phasellus augue turpis, suscipit id ipsum eu, condimentum congue massa. Duis et elit fringilla, vestibulum orci sed, faucibus lacus. Etiam condimentum eros in pellentesque dignissim. Duis facilisis fermentum justo, vel placerat odio elementum in. Nam at enim eros. Cras ut ullamcorper metus, et varius ex. Donec commodo arcu id lobortis venenatis.
                    </p>
                    <p>
Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce pharetra suscipit ante sed mollis. Proin eget scelerisque elit, tempus auctor tellus. Sed nibh mauris, gravida sed fermentum id, volutpat efficitur arcu. Quisque fermentum bibendum nulla, in mattis turpis tempus nec. Nulla sit amet risus mollis, elementum est non, bibendum ante. Vivamus nec convallis tellus, sed egestas ipsum. Mauris quis ligula justo. Phasellus at lacus ac mi eleifend eleifend vitae vel justo. Quisque eu metus quis sapien tempor pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus nunc sit amet lorem porta dictum. Integer sed semper dolor. Quisque auctor purus eget suscipit ullamcorper. Duis convallis libero id posuere placerat. Duis eget arcu interdum, ultricies velit non, tempor ante.
                    </p>
                    <p>
Nam eget venenatis est, vel laoreet quam. Donec malesuada elementum dolor, ac pretium massa ornare quis. Fusce vel turpis elit. In tincidunt diam sit amet metus lobortis maximus. Proin vitae scelerisque lorem. Praesent porttitor sit amet leo non blandit. Nulla facilisi. Aenean venenatis consectetur iaculis. Morbi vitae sem tincidunt, malesuada nisl egestas, pharetra velit. Phasellus porta aliquet dapibus. Mauris egestas tortor diam, eu fringilla mi congue a. Donec auctor, lacus non vestibulum gravida, erat elit tristique est, lobortis viverra nisi tortor nec turpis. Mauris non lorem convallis, posuere dolor in, cursus turpis. Fusce lobortis lacinia diam, quis ullamcorper felis sodales ac. Vivamus vel placerat leo, vel ullamcorper orci.
                    </p>
                    <p>
Morbi ullamcorper sollicitudin nibh quis cursus. Donec at auctor urna, et mattis orci. In hac habitasse platea dictumst. Vivamus quis tincidunt diam. Nam fermentum lectus ipsum, porttitor blandit eros luctus a. Nunc et rhoncus felis. Aenean rutrum libero neque, ut convallis quam ultrices et. Phasellus a mauris velit. Curabitur luctus libero eget nisi vestibulum elementum et vitae est. Sed fermentum est sed nisl tincidunt auctor. Nunc vitae tortor auctor, imperdiet ante vel, maximus orci. Suspendisse quis efficitur quam, nec commodo urna.
                    </p>
                    <p>
In posuere sapien non efficitur luctus. Praesent interdum ornare faucibus. Nam interdum sagittis molestie. Curabitur molestie, lectus sed tincidunt tempor, diam felis interdum neque, eget semper tellus turpis ac ante. Maecenas nec varius arcu. Pellentesque tincidunt eleifend enim. Integer luctus tellus vitae eros congue, vitae vulputate est condimentum. Quisque egestas urna id metus laoreet imperdiet. Maecenas eget commodo quam. Ut in aliquam eros. Aliquam dapibus sit amet erat ac ultrices. Vestibulum tempor, est a lobortis semper, tellus turpis pellentesque tortor, in dignissim ex quam nec libero. Vestibulum porttitor imperdiet posuere. Aliquam nec aliquam ipsum, eget rhoncus velit.
                    </p>
                    <p>
Vestibulum mollis et sapien non egestas. Nulla rhoncus sed arcu a sagittis. Sed volutpat arcu sapien, scelerisque maximus dolor placerat ac. Duis sit amet metus eu odio rutrum ornare quis eget neque. Vestibulum interdum ut nibh in dictum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    </p>
                    <p>
Etiam faucibus laoreet enim, sed pharetra risus blandit a. Suspendisse viverra mauris non nunc scelerisque consequat. Aenean fermentum pretium commodo. Cras suscipit in tortor eu rhoncus. Proin eget metus sit amet metus posuere tempus. Fusce ut pulvinar tellus. Morbi blandit condimentum lectus. Ut orci ligula, pharetra nec est id, porta varius lacus. Sed pulvinar rhoncus ipsum, eu porta lacus tristique id. Ut pretium tellus ut lacus posuere, id efficitur lectus mattis. Donec dictum laoreet diam, eu dictum mauris pretium elementum. Fusce et nunc sit amet dui tempus rutrum. Donec fringilla, velit ut imperdiet efficitur, leo risus tincidunt enim, sit amet rhoncus mauris magna sit amet sapien. Proin ipsum felis, auctor sed libero molestie, fermentum gravida sem.
                    </p>
                </div>
            </div>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="http://code.jquery.com/jquery-2.1.3.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    </body>
</html>
