@{
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="StyleSheet.css" type="text/css">
        <title>Kvotekalkulator</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Kvotekalkulator</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Innkjøp</a></li>
                        <li><a href="#">Reisefølge</a></li>
                        <li><a href="#">Oppsummering</a></li>
                       
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-md-12">
                    <h2>Innkjøp</h2>
                    <p>
Suspendisse at sapien porta, hendrerit orci a, fringilla quam. Nullam mattis condimentum sem eget rutrum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec ac risus at odio consectetur tempor eu vel magna. Nullam bibendum, arcu ut luctus dictum, nisl ipsum volutpat sapien, vel blandit felis purus sit amet augue. Suspendisse ut iaculis erat, eu iaculis dolor. Maecenas dolor eros, placerat eget nibh eget, imperdiet molestie lorem. Suspendisse potenti. Ut odio turpis, congue quis pellentesque non, cursus a magna. Duis dui urna, sollicitudin nec placerat ac, malesuada nec ipsum. Sed iaculis tortor erat, eget euismod massa tempus ac. Cras in nibh interdum, aliquam urna molestie, lacinia metus. Nam varius ipsum id libero fermentum, eu lobortis ante tristique. In nec dolor vitae quam aliquam consectetur eu ac magna. Etiam vel pulvinar lorem. Integer vitae est et est dictum suscipit a ac nisi.
</p>
                    <h2>Reisefølge</h2>
                    <p>
Suspendisse at sapien porta, hendrerit orci a, fringilla quam. Nullam mattis condimentum sem eget rutrum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec ac risus at odio consectetur tempor eu vel magna. Nullam bibendum, arcu ut luctus dictum, nisl ipsum volutpat sapien, vel blandit felis purus sit amet augue. Suspendisse ut iaculis erat, eu iaculis dolor. Maecenas dolor eros, placerat eget nibh eget, imperdiet molestie lorem. Suspendisse potenti. Ut odio turpis, congue quis pellentesque non, cursus a magna. Duis dui urna, sollicitudin nec placerat ac, malesuada nec ipsum. Sed iaculis tortor erat, eget euismod massa tempus ac. Cras in nibh interdum, aliquam urna molestie, lacinia metus. Nam varius ipsum id libero fermentum, eu lobortis ante tristique. In nec dolor vitae quam aliquam consectetur eu ac magna. Etiam vel pulvinar lorem. Integer vitae est et est dictum suscipit a ac nisi.
</p>
                    <h2>Oppsummering</h2>
                    <p>
Suspendisse at sapien porta, hendrerit orci a, fringilla quam. Nullam mattis condimentum sem eget rutrum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec ac risus at odio consectetur tempor eu vel magna. Nullam bibendum, arcu ut luctus dictum, nisl ipsum volutpat sapien, vel blandit felis purus sit amet augue. Suspendisse ut iaculis erat, eu iaculis dolor. Maecenas dolor eros, placerat eget nibh eget, imperdiet molestie lorem. Suspendisse potenti. Ut odio turpis, congue quis pellentesque non, cursus a magna. Duis dui urna, sollicitudin nec placerat ac, malesuada nec ipsum. Sed iaculis tortor erat, eget euismod massa tempus ac. Cras in nibh interdum, aliquam urna molestie, lacinia metus. Nam varius ipsum id libero fermentum, eu lobortis ante tristique. In nec dolor vitae quam aliquam consectetur eu ac magna. Etiam vel pulvinar lorem. Integer vitae est et est dictum suscipit a ac nisi.
</p>
                </div>
            </div>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="http://code.jquery.com/jquery-2.1.3.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="Script.js"></script>
    </body>
</html>
